 .div-list-equipe {
    width: 100%;
    position: relative;
    left: 12px;
 }

 .card{
    border: 1px solid #cdcdcd;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.193);

 }
